<html>
  <head>
    <title>LilPebbles.doesntrock</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/pebbles.css">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  </head>
  <body>
		<div class="content ordoesshe">
			<div class="header">
				<h1>
					Ticket to Ride wins
				</h1>
			</div>
			
		<div class="ct-chart ct-golden-section pebbles"></div>
	</div>
	<script src="/js/ordoesshe.bundle.js"> 
	</script>
  </body>
</html>
